
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    width: 400px;
    padding: 30px;
    background-color: #bcbebd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 65px;
    text-align: center;
    margin: 0 auto;
}

#logo img {
    width: 255px;
    height: 150px;
    margin-bottom: 40px;
}

h1 {
    color: white;
    margin-bottom: 40px;
    font-size: large;
    font-family: 'Helvetica', sans-serif;
}

.login-container #idCliente,
.login-container #nombreCliente,
.login-container #correoElectronico,
.login-container #direccionEnvio,
.login-container #numeroTelefono,
.login-container #username,
.login-container #password,
.login-container #fullname,
.login-container #email,
.login-container #confirmPassword {
    width: 300px;
    border-radius: 45px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    background-color: #D9D9D9;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#username::placeholder,
#password::placeholder,
#fullname::placeholder,
#email::placeholder,
#confirmPassword::placeholder {
    color: #525250;
    font-style: italic;
    opacity: 0.7;
}

#login-button {
    width: 150px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

#login-button:hover {
    background-color: #424242;
}

#register-button {
    width: 150px;
    height: 40px;
    border-radius: 45px;
    border: none;
    background-color: #000000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

#register-button:hover {
    background-color: #424242;
}

#register-button:disabled {
    background-color: #888;
    cursor: not-allowed;
}

.sincuenta {
    color: white;
    font-size: 12px;
    margin-top: 10px;
}

.campo-error {
    display: block;
    color: #cc0000;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: 8px;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}